{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Permission</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
</head>
<body>
    <h1 class="text-center font-extrabold text-4xl bg-red-700 px-10 py-4 my-20">You do not have permission to access this Page</h1>
    <h1 class="text-center font-extrabold text-4xl bg-red-700 px-10 py-4 my-20">You do not have permission to access this Page</h1>
    <h1 class="text-center font-extrabold text-4xl bg-red-700 px-10 py-4 my-20">You do not have permission to access this Page</h1>
    <h1 class="text-center font-extrabold text-4xl bg-red-700 px-10 py-4 my-20">You do not have permission to access this Page</h1>
    <h1 class="text-center font-extrabold text-4xl bg-red-700 px-10 py-4 my-20">You do not have permission to access this Page</h1>
    <h1 class="text-center font-extrabold text-4xl bg-red-700 px-10 py-4 my-20">You do not have permission to access this Page</h1>
</body>
</html>