{% extends "navbar.html" %} 
{% block dashboard %} 
{% load static %} 

{% comment%} stat Cards {% endcomment %}
<div class="my-10">
	<div>
		<div class="grid lg:grid-cols-5  gap-6 mb-8">
			<!-- Total Event -->
			<a href="{% url 'dashboard' %}?type=all">
				<div
					class="flex justify-between items-center bg-orange-300 rounded-xl p-6 shadow-sm h-full"
				>
					<div>
						<h3 class="text-lg font-bold text-gray-700 mb-4">
							TOTAL EVENTS
						</h3>
						<div>
							<p class="text-4xl font-bold mb-1">
								{{counts.total_event}}
							</p>
							<p class="text-gray-500 text-sm">11 last month</p>
						</div>
					</div>
					<div class="bg-blue-100 p-3 rounded-full">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-5 h-5 text-blue-600"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
							/>
						</svg>
					</div>
				</div>
			</a>
			<!-- Total participants -->
			<a href="">
				<div
					class="flex justify-between items-center bg-orange-300 rounded-xl p-6 shadow-sm h-full"
				>
					<div>
						<h3 class="text-lg font-bold text-gray-700 mb-4">
							TOTAL PARTICIPANTS
						</h3>
						<div>
							<p class="text-4xl font-bold mb-1">
								{{counts.total_participant}}
							</p>
							<p class="text-gray-500 text-sm">11 last month</p>
						</div>
					</div>
					<div class="bg-green-100 p-3 rounded-full">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-5 h-5 text-green-600"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
							/>
						</svg>
					</div>
				</div>
			</a>
			<!-- UPCOMING EVENTS-->
			<a href="{% url 'dashboard' %}?type=upcoming">
				<div
					class="flex justify-between items-center bg-orange-300 rounded-xl p-6 shadow-sm h-full"
				>
					<div>
						<h3 class="text-lg font-bold text-gray-700 mb-4">
							UPCOMING EVENTS
						</h3>
						<div>
							<p class="text-4xl font-bold mb-1">
								{{counts.upcoming_events}}
							</p>
							<p class="text-gray-500 text-sm">11 last month</p>
						</div>
					</div>
					<div class="bg-yellow-100 p-3 rounded-full">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-5 h-5 text-yellow-600"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
							/>
						</svg>
					</div>
				</div>
			</a>
			<!-- PAST EVENTS-->
			<a href="{% url 'dashboard' %}?type=past">
				<div
					class="flex justify-between items-center bg-orange-300 rounded-xl p-6 shadow-sm h-full"
				>
					<div>
						<h3 class="text-lg font-bold text-gray-700 mb-4">
							PAST EVENTS
						</h3>
						<div>
							<p class="text-4xl font-bold mb-1">
								{{counts.past_events}}
							</p>
							<p class="text-gray-500 text-sm">11 last month</p>
						</div>
					</div>
					<div class="bg-violet-100 p-3 rounded-full">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-5 h-5 text-violet-600"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
							/>
						</svg>
					</div>
				</div>
			
			</a>
			{% comment %} Today's' Events {% endcomment %}
			<a href="{% url 'dashboard' %}?type=today">
				<div
					class="flex justify-between items-center bg-orange-300 rounded-xl p-6 shadow-sm h-full"
				>
					<div>
						<h3 class="text-lg font-bold text-gray-700 mb-4">
							TODAY'S EVENTS
						</h3>
						<div>
							<p class="text-4xl font-bold mb-1">
								{{counts.todays_events}}
							</p>
							<p class="text-gray-500 text-sm">11 last month</p>
						</div>
					</div>
					<div class="bg-violet-100 p-3 rounded-full">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-5 h-5 text-violet-600"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
							/>
						</svg>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
{% comment %} Todays Events {% endcomment %}

{% comment %} messages {% endcomment %}
<div>
  {% if messages %}
    {% for message in messages %}
      <p class="px-2 py-1 text-center mx-6 my-4 bg-green-500">
        {{ message }}
      </p>
    {% endfor %}

  {% endif %}
</div>


{% comment %} create_event {% endcomment %}
<div class=" mx-14 my-6">
  <a href="{% url 'create_event' %}">
    <button 
        type="submit"
        class="bg-orange-600 my-4 hover:bg-blue-500 text-white px-6 py-2  w-full rounded-lg">
        <div class="">
          <h1 class= "font-extrabold inline-flex text-3xl my-auto mx-2">+ </h1> 
          <h1 class= "font-semibold inline-flex text-2xl my-auto mx-2">Create New Event </h1> 
        </div>

      </button>
  </a>
</div>

{% comment %} cards {% endcomment %}
<div>
	<h1 class="font-bold text-4xl my-5 text-center">{{title}}</h1>
	<div>
		<div class="grid grid-cols-1 xl:grid-cols-2 my-6 px-3 md:px-4">

			{% for event in events %}
			<div class="flex flex-col sm:flex-row bg-white rounded-lg px-3 py-3 gap-6 shadow-lg mx-1 md:mx-4 my-4">
		  
			  <div class="flex justify-center">
				{% if event.image %}
				<img 
				  class="w-64 h-44 md:h-48 object-cover rounded-md"
				  src="{{ event.image.url }}"
				  alt="Event Image"
				/>
				{% else %}
				<div class="bg-gray-200 rounded-sm  w-64 h-64 p-10 mx-auto my-auto">
				  <h1 class="text-center mx-auto my-auto py-20">No Image</h1>
				</div>
				{% endif %}
			  </div>
		  
			  <div class="flex-1">
				<div class="flex flex-col justify-between">
				  <h1 class="font-bold text-lg md:text-xl px-6 md:px-2 mb-2">
					{{event.name}}
				  </h1>
			  
				  <p class="italic text-sm md:text-base px-6 md:px-2 text-ellipsis text-justify">
					{{event.description}}
				  </p>
			  
				  <span class="font-semibold italic px-6 md:px-2 mb-2 my-4">
					Category: {{event.category.category_name}}
				  </span>
				</div>
			  
				<div class="my-5 text-center">
			  
				  
				  <div class="grid sm:grid-cols-2 sm:items-center gap-6 sm:gap-10 mx-4">
			  
					<div class="px-3 py-3 bg-orange-300 rounded-md flex justify-center items-center gap-2">
					  <h1 class="font-semibold ">Total Participants:</h1>
					  <span>{{event.participant.count}}</span>
					</div>
			  
					<div class="px-3 py-3 bg-orange-300 rounded-md flex justify-center items-center gap-2">
					  <h1 class="font-semibold">Start-time:</h1>
					  <span>{{event.time}}</span>
					</div>
			  
				  </div>
			  
				  
				  <div class="grid sm:grid-cols-3 sm:items-center gap-6 sm:gap-10 mx-4 mt-6">
					
					<a href="{% url 'event_detail' %}?id={{event.id}}">
						<button class="px-4 py-2 bg-orange-400 rounded-md text-center font-semibold w-full sm:w-auto">
						  View Details
						</button>
					  </a>

					<a href="{% url 'update_event' event.id %}">
					  <button class="px-4 py-2 hover:bg-green-600 bg-orange-400 rounded-md text-center font-semibold w-full sm:w-auto">
						Update Event
					  </button>
					</a>

					<form action="{% url 'delete_event' event.id %}" method = "POST">
						{% csrf_token %}
						<button type="submit" class="px-4 py-2 hover:bg-red-600 bg-orange-400 rounded-md text-center font-semibold w-full sm:w-auto">
							Delete Event
						</button>
					</form>

				  </div>
			  
				</div>
			  </div>
			  
		  
			</div>
			{% endfor %}
		  
		  </div>
	</div>
</div>
{% endblock dashboard %}
